<html>
    <head>
    <title>Contact Form</title>
    
    <link href="css/style.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    </head>
    <body>
    <div id="header">
      <h1><img alt="header image" src="img/flower.jpg">Welcome to my Page!</h1>
    </div>
    <div id="container">
    <div id="pattern" class="pattern">    
        <nav class="navbar navbar-default" id="menu" role="navigation">
          <div class="navbar-header">
            <a class="navbar-brand" href="/">Praneetha</a>
          </div>
          <ul class="nav navbar-nav" style="float:right;">
            <li id="nav-1"><a href="/">Home</a></li>
            <li id="nav-2"><a href="/emi">Find EMI</a></li>
            <li id="nav-3"><a href="/contact">Contact</a></li>
            <li id="nav-4"><a href="/index">Guest book</a></li>
          </ul>
        </nav>
      </div>
<h1>
<div class="row">
<div class="col-md-6 col-sm-12">
    Express Guestbook 
</div>
<div class="col-md-6 col-sm-12">
  <a href="/new-entry" class="btn btn-primary writeButtonFloat">
    Write in the guestbook
  </a>
</div>
</div>
</h1>
</div>