body {
margin: 0;
padding: 0;
font: 75% tahoma, Verdana, sans-serif;
line-height: 1.8em;
background: url(../img/background.jpg) top left;
}
	
#header {
padding: 20px;
border-bottom: 0px solid #fff;
background: white;
}
#header h1 {
padding: 0;
margin: 0;
font-family: Georgia, sans-serif;
font-weight: normal;
font-size: 30px;
color: black;
}
	

#nav li {
float: left;
margin: 0;
padding: 0;
}
#nav a {


padding: 0.5em 2em;
text-decoration: none;
text-align: center;
font-weight: bold;
font-size: 250%;
color: black;

}
#nav #nav-1 a {
padding-left: 20px;
}
#nav a:hover {
color: #000;
}
		
#container {
margin: 0 auto;
padding: 0;
width: 770px;
}
#contentleft {
float: left;
margin-top: 8px;
width: 500px;
padding: 0 1em 1em 1em;
font-size: 15px;
}
#contentright {
float: right;
margin-top: 8px;
padding: 0 1em 1em 1em;
background: url(elephant2.jpg);
}
		
#footer {
font-size: 1em;
clear:both;
margin:0;
padding: 0.5em;
background: #333;
color: #aaa;
}
		
h1 {
font-family: Georgia, serif;
font-size: 180%;
padding: 30px 0 10px 0;
color: #73868c;
}	

h2 {
font-family: Georgia, sans-serif;
font-size: 180%;
padding: 0px 0 0px 0;
color: #333;
}
	
a:link{
color : #666;
background : inherit;
text-decoration : underline;
}
	
ul li {
list-style-type: none;
}
.navlist ul li {
list-style-image : url(images/arrow.gif);
padding-left : 5px;
margin-bottom : 0;
} 
a img {
border: none;	
}
		
.imgleft { 
float : left;
padding : 5px;
margin-right : 10px;
width: 200px;
height: 200px;
border-radius: 200px;
} 
.circles { 

padding : 5px;
margin-left : 10px;
width: 85px;
height: 85px;
border-radius: 60px;
} 
		